@import "src/scss/custom";

.categories {
  width: 90px;
  height: calc(100vh - 60px);
  flex-shrink: 0;
  color: white;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @include responsive('xl') {
    width: 117px;
    height: calc(100vh - 91px);
  }

  &-menu {
    & > a {
      margin-bottom: 10px;

      @include responsive('xl') {
        margin-bottom: 15px;
      }
    }
  }

  &-copyright {
    position: absolute;
    bottom: 40px;
    color: white;
    font-size: 12px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
}
