@import "src/scss/custom";

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  & > img {
    width: 100%;
    height: 45px;
    object-fit: cover;

    @include responsive('xl') {
      height: 65px;
      gap: 110px;
    }
  }
}
